.fact {
	font-style: italic;
}
span {
	font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.border {
	border: 2px solid lightgrey;
	padding: 0 15px 15px 15px;
	max-width: 300px;
}
img {
	padding: 0 0 20px 0;
	max-width: 300px;
}
